form {
  text-align: center;
  width: 500px;
  margin: 0 auto;
}

input.ng-valid {
  border-left: 5px solid green;
}

input.ng-invalid {
  border-left: 5px solid red;
}

.error {
  color: red;
}

.title {
  margin-top: 50px;
  text-align: center;
}
