<table datatable [dtOptions]="dtOptions" class="row-border hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Image</th>
      <th>Name</th>
      <th>Description</th>
      <th>Author</th>
      <th>action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of data; let i = index">
      <td>{{ book.id }}</td>
      <td>
        <img
          width="70px"
          height="100px"
          [src]="'http://localhost:8080/images/' + book.imageUrl"
          alt=""
        />
      </td>
      <td>{{ book.name }}</td>
      <td>{{ book.description }}</td>
      <td>{{ book.author }}</td>
      <td>
        <button id="edit" class="btn btn-primary" (click)="editBook(book.id)">
          edit
        </button>
        <button
          id="delete"
          class="btn btn-primary"
          (click)="deleteBook(i, book.id)"
        >
          delete
        </button>
      </td>
    </tr>
  </tbody>
  <!-- <tbody *ngIf="data?.length == 0">
    <tr>
      <td colspan="2" class="no-data-available">No data!</td>
    </tr>
  </tbody> -->
</table>
