#delete {
  margin: 10px;
}
#edit {
  margin-left: 10px;
}

img {
  background-repeat: no-repeat;
  object-fit: contain;
  background-clip: border-box;
}
table {
  width: 100%;
}

img {
  margin: 5px;
  border: 1px solid gray;
  object-fit: cover;
}
.search-field{

}
.data-table-bar{
  display: flex;
}

.spacer{
  flex: 1;
}
