<div class="table-toolbar">
  <div>
    <button class="btn-create-book btn btn-primary" (click)="createBook()">Create book</button>
  </div>
  <div class="paginator">
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    </mat-paginator>
  </div>
</div>

<table mat-table [dataSource]="data">
  <colgroup>
    <col span="1" style="width: 5%;">
    <col span="1" style="width: 10%;">
    <col span="1" style="width: 15%;">
    <col span="1" style="width: 25%;">
    <col span="1" style="width: 15%;">
    <col span="1" style="width: 20%;">
  </colgroup>

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let element;let i = index" style="text-align: center;">
      <div id="id">{{ element.id }}</div>
    </td>
  </ng-container>

  <!-- Image Column -->
  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef>Image</th>
    <td mat-cell *matCellDef="let element">
      <!-- <lib-ngx-image-zoom [thumbImage]="imageThumbnailUrl(element)" [magnification]="1" [enableScrollZoom]="true"
          [enableLens]="true" [lensWidth]="200" [fullImage]="imageUrl(element)">
        </lib-ngx-image-zoom> -->
      <img id="book-image" class="rounded" [src]="imageThumbnailUrl(element)" (click)="onViewImageDetail(element)" />
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let element">{{ element.description }}</td>
  </ng-container>

  <!-- Author Column -->
  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef>Author</th>
    <td mat-cell *matCellDef="let element">{{ element.author }}</td>
  </ng-container>

  <!-- Aciton Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element; let i = index" style="width: 20%;">
      <div>
        <button #btnEdit id="edit" class="btn btn-primary" (click)="editBook(element.id)">
          edit
        </button>
        <button #btnDelete id="delete" class="btn btn-primary" (click)="deleteBook(i, element.id, btnDelete)"
          (disable)="true">
          delete
        </button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<p *ngIf="isTableEmpty">No data</p>
