#delete {
  margin: 10px;
}

#edit {
  margin-left: 10px;
}

#book-image {
  cursor: pointer;
}

.container {
  width: 100%;
}

.input-search {
  display: flex;
  justify-content: flex-end;
}

.btn-search {
  display: flex;
  justify-content: flex-end;
}

table {
  width: 100%;
}

#book-image {
  width: 100px;
  height: 120px;
  margin: 5px;
  border: 1px solid gray;
  object-fit: cover;
}

p {
  margin-top: 10px;
  text-align: center;
}

.table-toolbar {
  display: flex;
  flex-direction: row;
}

.paginator {
  width: 100%;
  flex: 1;
}

.input-search {
  justify-content: flex-start;
  flex: 1;
}

button.btn-create-book {
  position: absolute;
}

lib-ngx-image-zoom {
  max-height: 450px!important;
}

@media (max-width: 800px) {
  .table-toolbar {
    flex-direction: column;
  }
}

td {
  padding: 5px !important;
}
th{
  text-align: center !important;
}
