input {
  width: 500pt;
}
form {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input.ng-valid {
  border-left: 5px solid green;
}

input.ng-invalid {
  border-left: 5px solid red;
}

.error {
  color: red;
}

.form-group {
}
