<p>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="onMenuClick()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="app-name" routerLink="/home">Book manager</span>
    <div class="input-search input-group" *ngIf="isDisplayed">
      <input type="text" class="form-control" placeholder="Search by name" [(ngModel)]="searchInput">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button" (click)="onSearch()">Search</button>
      </div>
    </div>
    <button class="btn-adv-search btn btn-primary btn-search-book" routerLink="/search" *ngIf="isDisplayed">Advanced
      Search</button>
    <span class="example-spacer">

    </span>
    <button mat-icon-button (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar>
</p>
